<div class='card-row'>
  <div class='card-column'>

    <div class='card'>
      <img src='/Images/{{filename}}' class='card-img-top' alt='{{model}}' />
      <!--Try-->
      <div class='card-body'>
        <h5 class='card-title'>{{model}}</h5>
        <p class='card-text'>{{price}}</p>
        <a href='#' class='btn btn-primary' id="card-btn">Add To Cart!</a>
        <a href='/vehicle/{{id}}' class='btn btn-primary' id="card-btn">Reviews!</a>
      </div>
    </div>

  </div>
</div>